#headerone{color:darkgreen;font-style:italic;}
body{background-color: papayawhip;}
#name{
    border:5px solid green;background-color:beige; 
    color:#009900;font-size:36pt;font-family:cursive;text-align:center;
}

#headers1{color:#009900;font-size:20pt;font-family:cursive;border:5px solid teal;background-color:beige;text-align:center;margin-top:80px;} 

#headers2{color:#009900;font-size:20pt;font-family:cursive;border:5px solid teal;background-color:beige;text-align:center;} 

footer a:link{color:mediumvioletred; font-size:10pt;text-decoration: none;}
#footerone{border-top: 2px dotted #009900;}

.para{color:saddlebrown;font-size:14pt;border:5px solid teal;padding:10px;}

#currentedu{color:darkgoldenrod;}
#currentpos{color:darkgoldenrod;}
.edu{color:darkcyan;}
.exp{color:darkcyan;}
/*Using position*/
/*#img1{position:relative; left: 250px; top:80px; border:2px solid #009900;margin-top:8px;}*/
/*Following is using float to position where the picture shows*/
#img1{float:left; padding:1px;margin-top:0px;margin-bottom:10px;margin-left:300px;margin-right:450px; border:2px solid #009900;}

/*#qualities{text-align:center;
    position:relative; top: 90px; left:600px;
    font-size:18pt;}*/

#qualities{margin-top:50px;margin-left:300px;font-size:18pt;text-align:center;}
